.Benefits {
    margin-top: 138px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 32px;
    align-items: center;
    justify-content: center;

    &__option {
        max-width: 280px;
        width: 100%;
        height: 220px;
        border-radius: 25px;

        background-image: url('../img/Benefit.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        text-align: center;

        align-self: center;
        justify-self: center;
        padding: 0 18px;


        h1 {
            margin-top: 132px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .Benefits {
        margin-top: 90px;

        grid-template-columns: 0.25fr 0.25fr;
        grid-row-gap: 65px;

        &__option {
            width: 280px;
        }
    }
}

@media screen and (max-width: 728px) {
    .Benefits {
        margin-top: 30px;
    }
}

@media screen and (max-width: 610px) {
    .Benefits {
        margin-top: 20px;

        grid-template-columns: 0.25fr;
        grid-row-gap: 20px;
    }
}