.Popular {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 40px;

    p {
        font-size: 12px;
    }
    
    h3 {
        font-size: 12px;
    }
    &__item {
        width: 280px !important;
        padding: 10px;
        border-radius: 10px;
        min-width: 0;
        
        background-color: #FFFFFF;

        position: relative;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.00));

        &:hover {
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
        }
    }

    &__sale {
        width: 42px;
        height: 42px;

        border-radius: 50%;

        background-color: rgba(240, 68, 56, 0.89);

        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #FFFFFF;
            font-size: 16px;
        }

        position: absolute;
        top: 13px;
        left: 13px;
    }

    &__img {
        width: 166px;
        height: 160px;
        display: block;
        margin: 0 auto;
    }

    &__stars {
        display: flex;
        gap: 3px;
        margin-top: 14px;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 8px;

        position: relative;
    }

    h4 {
        margin-top: 8px;

        span {
            font-family: 'PTSans-Bold';
        }
    }

    &__oldprice {
        font-size: 20px;
        height: 20px;
    }

    h6 {
        margin-top: 4px;
    }

    &__newprice {
        position: absolute;
        color: #B6B6B6;
        font-size: 14px;

        text-decoration: line-through;
        top: -7px;
        left: 44px;
    }

    &__menu {
        display: flex;
        gap: 20px;
    }

    &__button {
        color: #FFFFFF;
        width: 260px;
        height: 73px;
        background-color: #69AEFF;
        border-radius: 10px;

        font-family: 'PTSans-Bold';
        font-size: 24px;

        margin-top: 14px;
    }

    &__character {
        width: 100%;
        &::after {
            content: '..................................................................................................................................................................................................................................................................................................';
            display: block;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'PTSans-Regular';
            font-size: 12px;
        }

        p span:first-of-type {
            float:left;
            margin-right: 3px;
        }
        p span:last-of-type {
            float:right;
            margin-left: 3px;
        }
    }
}

@media screen and (max-width: 1261px) {
    .Popular {
        max-width: 940px;
        margin: 0 auto;
    }
}

.slick-arrow {
    position: absolute;
}

.Buttonprev {
    bottom: -78px;
    right: 76px;
}

.Buttonnext {
    bottom: -78px;
    right: 0px;
}

.slickButtons {
    width: 54px;
    height: 54px;
    background: #69AEFF;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next:before {
    content: '';
}

.slick-prev:before {
    content: '';
}

.multiple-items .slick-track {
    display: flex;
    gap: 32px;
}

