.Card {
    &__feature {
        width: 100%;
        min-height: 230px;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 25px;

        padding: 50px 56px;

        margin-top: 32px;
    }

    &__featureMargin {
        margin-top: 60px !important;
    }

    &__descr {
        margin-top: 40px;
        
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__featureLast {
        margin-bottom: 40px;
    }
}