.Card {
    position: relative;

    &__background {
        background: url('../../img/cartBg.png'), linear-gradient(270deg, #69AEFF 0%, rgba(182, 88, 207, 0.995104) 48.96%, rgba(255, 159, 105, 0.99) 100%), #69AEFF;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        width: 100vw;
        height: 380px;
        
        background-blend-mode: overlay, normal, normal;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;
    }

    &__flex {
        display: flex;
        gap: 15px;
        padding-top: 60px;
        a {
            color: #FFFFFF;
            font-family: 'PTSans-Regular';
        }

        p {
            color: #FFFFFF;
        }
    }

    &__rightHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__square {
        max-width: 213px;
        width: 100%;
    }

    &__instock {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__inStockElipse {
        width: 10px;
        height: 10px;
        border-radius: 50%;

        background: linear-gradient(270deg, #68DE92 0%, #52EB89 100%);
    }

    &__withMontage {
        margin-top: 10px;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 6px;

        label {
            font-family: 'PTSans-Regular';
            color: #373737;
        }

        span {
            font-family: PTSans-Bold;
            color: #69AEFF;
        }

        input {
            width: 34px;
            height: 34px;

            border-radius: 5px;
            background-color: #F6FAFF;
            
            -webkit-appearance: none;
            appearance: none;

            &:checked {
                background: url('../../img/CardCheckbox.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-color: #F6FAFF;
            }
        }
    }

    &__garant {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 26px;

        p {
            font-family: PTSans-Bold;
            font-size: 24px;
        }

        span {
            color: #81D32A;
        }
    }

    &__garantCheaper {
        max-width: 140px;
        width: 100%;
        height: 32px;
        background: #69AEFF;
        border-radius: 6px;
        box-shadow: 0px 0px 6px 0px rgba(63, 104, 153, 0.13);
        color: #FFFFFF;
        font-family: PTSans-Bold;
        font-size: 16px;
    }

    &__header {
        color: #FFFFFF;

        margin-top: 60px;
    }

    &__subheader {
        margin-top: 6px;
        color: #FFFFFF;
    }

    &__card {
        width: 100%;
        height: auto;

        background-color: #FFFFFF;
        border-radius: 25px;

        margin-top: 32px;
        padding: 51px 56px;

        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));

        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    

    &__left {
        max-width: 496px;
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__subImgs {
        display: flex;
        justify-content: space-between;
    }

    &__subImg {
        display: flex;
        flex-direction: column;
        gap: 16px;


    }

    &__subImgBlock {
        max-width: 130px;
        height: 100px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__mainImg {
        max-width: 360px;
        width: 100%;
        height: 346px;

        // background-image: url('../../img/DescrPhoto1.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;

        img {
            width: 100%;   
        }
    }

    &__features {
        display: flex;
        justify-content: space-between;
        gap: 4px;

        img {
            max-width: 130px;
            width: 100%;
            height: auto;
        }
    }

    &__featurebtn {
        max-width: 117px;
        width: 100%;
        height: 70px;
        background: #69AEFF;
        color: #FFFFFF;
        font-family: PTSans-Bold;
        font-size: 16px;
        border-radius: 6px;
    }

    &__right {
        max-width: 496px;
        width: 100%;
        height: 432px;
    }

    &__underline {
        text-decoration: underline;
    }

    &__variants {
        display: flex;
        justify-content: space-between;

        max-width: 213px;
        width: 100%;
        margin-top: 10px;
    }

    &__variant {
        position: relative;
        
        input {
            width: 35px;
            height: 35px;

            border-radius: 7px;
            background-color: #F6FAFF;
            
            -webkit-appearance: none;
            appearance: none;

            &:checked {
                border: 1px solid #373737;
            }
        }

        label {
            position: absolute;
            top: 7.5px;
            left: 8.5px;

            font-family: 'PTSans-Regular';
            font-size: 16px;
            color: #373737;
        }
    }

    &__characters {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        margin-top: 24px;
    }

    &__character {

        &::after {
            content: '..........................................................................................';
            display: block;
            white-space: nowrap;
            overflow: hidden;
            font-family: 'PTSans-Regular';
        }

        p span:first-of-type {
            float:left;
            margin-right: 3px;
        }
        p span:last-of-type {
            float:right;
            margin-left: 3px;
            font-family: PTSans-Bold;
        }
    }

    &__priceBlock {
        margin-top: 24px;
    }

    &__price {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 24px;
            color: #373737;
            font-family: PTSans-Bold;
        }

        span {
            color: #F04438;
        }

        p {
            color: #B6B6B6;
            margin-left: 12px;
        }

        &:last-child {
            margin-top: 20px;
        }
    }

    &__discount {
        text-decoration: line-through;
        font-size: 24px;
        color: #E3EBEF;
    }

    &__priceFlexRight {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    &__cartButton {
        margin-top: 24px;
        font-family: 'PTSans-Bold';
        font-size: 24px;
        color: #FFFFFF;

        background-color: #69AEFF;
        border-radius: 10px;

        width: 100%;
        height: 72px;
    }

    &__service {
        width: 100%;
        background-color: #FFFFFF;
        height: auto;

        padding: 50px 56px;

        border-radius: 25px;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));

        margin-top: 20px;
    }

    &__services {
        display: flex;
        flex-direction: column;
        gap: 25px;

        margin-top: 20px;
    }

    &__options {
        display: flex;
        gap: 10px;
    }

    &__checkbox {
        position: relative;
        height: 32px;

        input {
            display: none;

            &:checked + label {
                color: #FFFFFF;

                background-color: #69AEFF;

                span {
                    background-color: rgba(255, 255, 255, 0.56);
                }
            }
        }

        label {
            font-family: 'PTSans-Regular';
            font-size: 16px;
            color: #373737;

            padding: 6px 10px;

            background-color: #FFFFFF;
            box-shadow: 0px 0px 6px rgba(63, 104, 153, 0.13);
            border-radius: 6px;

            span {
                background-color: #E3EBEF;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
                border-radius: 3px;

                font-family: 'PTSans-Bold';

                padding: 0 5px;
            }
        }
    } 

    &__tabs {
        max-width: 870px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        margin: 0 auto;
        margin-top: 40px;
    }

    &__tab {
        cursor: pointer;
        hr {
            display: none;

            margin: 0 auto;
            margin-top: 6px;
            max-width: 44px;

            border: 2px solid #69AEFF;
            border-radius: 8px;
        }
    }

    &__content {
        display: none;
    }

    &__getConsult {
        h1 {
            text-align: center;
        }
        input {
            max-width: 207px;
        }
    }

    &__sendbtn {
        max-width: 194px;
        width: 100%;
        height: 41px;
        border-radius: 7px;
        background: var(--sky, #69AEFF);

        color: var(--white, #FFF);
        font-family: PTSans-Bold;
        font-size: 16px;
    }
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-10 {
    gap: 10px;
}

.mobile {
    display: none;
}

.mobile970 {
    display: none;
}

@media screen and (max-width: 1160px) {
    .Card {
        &__right {
            max-width: 450px;
        }

        &__mt {
            margin-top: 15px;
        }
    }

    .decktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media screen and (max-width: 1050px) {
    .Card {
        &__right {
            max-width: 400px;
        }

        &__underline {
            font-size: 12px;
        }

        &__withMontage {
            margin-top: 16px;
        }

        .p-12 {
            p {
                font-size: 12px;
            }

            a {
                font-size: 12px;
            }
            
        }

        &__right {
            max-width: 370px;
        }

        &__character {

            &::after {
                content: '....................................................................';
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .Card {
        &__subImgs {
            flex-direction: column-reverse;
            gap: 15px;
        }

        &__subImg {
            flex-direction: row;
        }

        &__mainImg {
            max-width: 244px;
            height: 217px;

            margin: 0 auto;
        }

        &__subImg {
            justify-content: center;
        }

        &__subImgBlock {
            max-width: 72px;
            height: 55px;
        }

        &__features {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 20px;

            max-width: 244px;

            margin: 0 auto;
            margin-top: 20px;
        }

        &__rightHeader {
            flex-direction: column;
        }

        &__montageCost {
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-top: 12px;
        }

        &__withMontage {
            justify-content: left;
            margin-top: 12px;
        }

        &__instock {
            gap: 0px;
            justify-content: space-between;

            p {
                font-size: 12px;
            }
        }

        &__garant {
            margin-top: 7px;
            align-items: center;
            p {
                font-size: 12px;
            }
        }

        &__garantCheaper {
            font-size: 9px;
            max-width: 105px;
        }

        &__characters {
            margin-top: 12px;
        }

        &__priceBlock {
            margin-top: 15px;
        }

        &__priceFlexRight {
            svg {
                width: 36px;
                height: 36px;
            }
        }

        &__price {
            h2 {
                font-size: 20px;
            }

            &:last-child {
                margin-top: 7px;
            }
        }

        &__left {
            height: auto;
            max-width: 244px;
        }

        

        &__cartButton {
            height: 50px;
            font-size: 16px;
            margin-top: 15px;
        }

        &__card {
            justify-content: center;
            gap: 40px;
        }
    }

    .tablet970 {
        display: none;
    }

    .mobile970 {
        display: flex;

        p {
            color: #B6B6B6;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 770px) {
    .Card {
        &__right {
            height: auto;
            max-width: 244px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cardDecktop {
        display: none;
    }

    .Card { 
        &__card {
            padding: 40px 96px;
        }
        &__service {
            margin-top: 25px;
            padding: 40px 96px;
            
            h1 {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 742px) {
    .Card {
        &__card {
            padding: 40px 50px;
        }

        &__service {
            padding: 40px 50px;
        }
        
    }
}

@media screen and (max-width: 650px) {
    .Card {
        &__service {
            padding: 25px 18px;

            h1 {
                text-align: center;
            }
        }

        &__services {
            gap: 0;
            margin-top: 0;
        }

        &__options {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

        &__checkbox {
            margin-top: 16px;

            max-width: 280px;
            width: 100%;

            label {
                text-align: center;
                display: block;
                width: 100%;
            }
        }

        &__getConsult {
            input {
                max-width: 280px;
                margin-top: 16px;
            }
        }

        &__mt {
            margin-top: 0;
        }

        &__sendbtn {
            max-width: 280px;
            height: 50px;
            margin-top: 16px;
        }
    }

    .flex {
        flex-direction: column;
    }

    .gap-10 {
        gap: 0;
    }
}
